

.titulo{
    text-align: left;
    font-family: Acme, sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.8em;
    letter-spacing: -0.7px;
    text-shadow: 0px 0px 35px rgba(240, 203, 57, 1);
}
#header{
    background-color: black;
    margin-top: 5rem;
    margin-right: 75rem;
}
.imgBasurero{
    width: 20%;
    display: block;
    margin-left: 30vw;
    margin-right: auto;
}
.imgTapaMonstruo{
    width: 10%;
    border: 4px solid white;
    background-color: black;
    cursor: url(../../img/cursor.png), pointer;

}
#body  {
    background-image: url(../../img/fondos/fondo_primeraparte.jpg);
    background-position: center;
}
.divConBackground{    
    clip-path: polygon(10% 82%, 10% 79%, 9% 74%, 11% 72%, 13% 71%, 14% 70%, 17% 64%, 19% 60%, 21% 52%, 22% 47%, 24% 41%, 25% 35%, 27% 28%, 29% 25%, 32% 25%, 33% 24%, 35% 22%, 37% 19%, 39% 15%, 40% 13%, 41% 14%, 43% 14%, 45% 11%, 48% 13%, 51% 10%, 55% 8%, 55% 4%, 57% 3%, 60% 3%, 60% 7%, 60% 11%, 60% 14%, 64% 17%, 67% 20%, 70% 24%, 72% 26%, 73% 28%, 74% 28%, 77% 38%, 78% 42%, 80% 46%, 82% 48%, 84% 52%, 86% 54%, 87% 58%, 88% 62%, 88% 67%, 90% 72%, 90% 77%, 91% 84%, 89% 88%, 87% 90%, 85% 90%, 83% 92%, 81% 89%, 77% 89%, 74% 91%, 71% 92%, 68% 95%, 65% 96%, 64% 98%, 60% 95%, 61% 98%, 58% 96%, 56% 96%, 52% 98%, 49% 96%, 47% 95%, 43% 90%, 41% 90%, 41% 88%, 40% 86%, 39% 86%, 37% 88%, 34% 90%, 31% 92%, 30% 94%, 28% 95%, 26% 94%, 23% 93%, 22% 94%, 19% 95%, 17% 96%, 15% 95%, 13% 94%, 11% 92%, 10% 90%, 9% 88%);    width: 1800px;
    height: 844px;
    background-image: url(../../img/monstruoConBasura.png);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: 100%;    
    /* opacity: 0.4;  */
    margin-top: 0vh;
    margin-left: 10vw;
}
#botarAudio{
    display: none
    }

    


