.titulo{
    text-align: center;
    text-decoration-color: aliceblue;
}
.imgMonstruo{
    display: flex;
    margin: auto;
    width: 30%;
    opacity:0.4;
/* 
    vertical-align: middle;
    align-content: center; */
}
.imgBasurero{
    width: 10%;
    margin-bottom: -20vh;
    margin-left: 80vw;
    height: 30%;
/* 
    vertical-align: middle;
    align-content: center; */
}
.imgTapaMonstruo{
    width: 10%;
    margin: auto;
    flex-grow: 1;
    cursor: move;
}
body  {
    background-image: url(../../img/fondo.jpeg);
    background-position: center;
    /* border: 10px dashed black; */

}