#popup1{
    background-image: url(../../img/parte3/barricadas.gif);
    background-repeat: no-repeat;
}
#popup2{
    background-image: url(../../img/parte3/expor_dignidad.webp);
    background-repeat: no-repeat;
}
#popup3{
    background-image: url(../../img/parte3/firmas.gif);
    background-repeat: no-repeat;
}
#popup4{
    background-image: url(../../img/parte3/monstruo.webp);
    background-repeat: no-repeat;
}
#popupVisitante{
    background-image: url(../../img/pop-up-2-NEW.gif);
    background-repeat: no-repeat;
}