

.titulo{
    text-align: left;
    font-family: Acme, sans-serif;
    font-size: 2.3vw;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.8em;
    letter-spacing: -0.7px;
    text-shadow: 0px 0px 35px rgba(240, 203, 57, 1);
    background-color: black;
    border-radius: 30px;
}
.header{
    margin-top: 5rem;
    margin-right: 75rem;
}
.imgBasurero{
    width: 12%;
    position: absolute;
    margin-left: 30vw;
    margin-right: auto;
}
.fuego{
    position: absolute;
    visibility: visible;
    width: 11vw;
    margin-top: -12.8vh;
    margin-left: 30.4vw;
}
.imgTapaMonstruo{
    /* width: 15vw;
    height: 15vh; */
    /* border: 4px solid white;
    background-color: black; */
    cursor: url(../../img/cursor.png), pointer;

}
/* UBICAMOS IMAGENES EN EL MONSTRUO */
/* 13 */
.posicion1{
    position: absolute;
    margin-top: 10vh;
    margin-left: 18vw;
    width: 10vw;
    height: 10vh;
}
/* CARABINEROS */
.posicion2{
    position: absolute;
    margin-top: 37vh;
    margin-left: 4vw;
    width: 18vw;
    height: 15vh;
}
/* CENSURA */
.posicion3{
    position: absolute;
    margin-top: 10vh;
    margin-left: 15vw;
    width: 25vw;
    height: 25vh;
}
/* CONSTITUCION */
.posicion4{
    position: absolute;
    margin-top: 12vh;
    margin-left: 10vw;
    width: 30vw;
    height: 30vh;
}
/* COSTANERA */
.posicion5{
    position: absolute;
    margin-top: 8vh;
    margin-left: 37vw;
    width: 12vw;
    height: 24vh;
}
/* DESAPARECIDOS */
.posicion6{
    position: absolute;
    margin-top: 30vh;
    margin-left: 7vw;
    width: 20;
    height: 35vh;
}
/* HABITAT */
.posicion7{
    position: absolute;
    margin-top: 48vh;
    margin-left: 40vw;
    width: 20vw;
    height: 20vh;
}
/* MASCARILLA ROSADA */
.posicion8{
    position: absolute;
    margin-top: 23vh;
    margin-left: 10vw;
    width: 10;
    height: 23vh;
}
/* LA SEGUNDA */
.posicion9{
    position: absolute;
    margin-top: 25vh;
    margin-left: 40vw;
    width: 20vw;
    height: 28vh;
}
/* LUKSIC */
.posicion10{
    position: absolute;
    margin-top: 30vh;
    margin-left: 20vw;
    width: 15vw;
    height: 30vh;
}
/* MASCARILLA */
.posicion11{
    position: absolute;
    margin-top: 42vh;
    margin-left: 60vw;
    width: 10vw;
    height: 15vh;
}
/* MEGA */
.posicion12{
    position: absolute;
    margin-top: 52vh;
    margin-left: 13vw;
    width: 15vw;
    height: 15vh;
}
/* MINISTERIO */
.posicion13{
    position: absolute;
    margin-top: 30vh;
    margin-left: 30vw;
    width: 15vw;
    height: 20vh;
}
/* MERCURIO */
.posicion14{
    position: absolute;
    margin-top: 24vh;
    margin-left: 27vw;
    width: 20vw;
    height: 20vh;
}
/* MORANDE */
.posicion15{
    position: absolute;
    margin-top: 20vh;
    margin-left: 50vw;
    width: 20vw;
    height: 25vh;
}
/* PACOS */
.posicion16{
    position: absolute;
    margin-top: 25vh;
    margin-left: 40vw;
    width: 15vw;
    height: 13vh;
}
/* PENSION */
.posicion17{
    position: absolute;
    margin-top: 2vh;
    margin-left: 42vw;
    width: 20vw;
    height: 30vh;
}
/* PINOCHO */
.posicion18{
    position: absolute;
    margin-top: 37vh;
    margin-left: 53vw;
    width: 25vw;
    height: 25vh;
}
/* PIÑERA */
.posicion19{
    position: absolute;
    margin-top: 10vh;
    margin-left: 18vw;
    width: 20vw;
    height: 20vh;
}
/* PRESOS */
.posicion20{
    position: absolute;
    margin-top: 5vh;
    margin-left: 28vw;
    width: 20vw;
    height: 20vh;
}
/* PSU */
.posicion21{
    position: absolute;
    margin-top: 51vh;
    margin-left: 2vw;
    width: 16vw;
    height: 20vh;
}
/* SABADO */
.posicion22{
    position: absolute;
    margin-top: 48vh;
    margin-left: 50vw;
    width: 25vw;
    height: 25vh;
}
/* SEMAFORO */
.posicion23{
    position: absolute;
    margin-top: 40vh;
    margin-left: 30vw;
    width: 19;
    height: 30vh;
}
/* TORNIQUETE */
.posicion24{
    position: absolute;
    margin-top: -4.5vh;
    margin-left: 25vw;
    width: 20vw;
    height: 20vh;
}
/* ESTATUA BAQUEDANO */
.posicion25{
    position: absolute;
    margin-top: 30vh;
    margin-left: 34vw;
    width: 15vw;
    height: 30vh;
}
/* DELINCUENTES */
.posicion26{
    position: absolute;
    margin-top: 30vh;
    margin-left: 20vw;
    width: 20vw;
    height: 30vh;
}


#body  {
    background-image: url(../../img/fondos/fondo_primeraparte.webp);
    background-repeat: no-repeat;
    /* background-position: center; */
}
.divConBackground{    
    clip-path: polygon(5% 89%, 6% 87%, 7% 85%, 9% 82%, 7% 82%, 5% 81%, 5% 79%, 7% 76%, 9% 72%, 12% 65%, 14% 59%, 16% 54%, 18% 45%, 21% 36%, 23% 27%, 26% 19%, 29% 17%, 33% 15%, 36% 11%, 39% 7%, 41% 5%, 44% 4%, 47% 4%, 51% 3%, 56% 4%, 61% 6%, 67% 9%, 70% 13%, 73% 15%, 76% 20%, 79% 27%, 81% 33%, 84% 39%, 87% 44%, 90% 49%, 92% 54%, 94% 62%, 96% 71%, 96% 79%, 97% 86%, 95% 88%, 94% 90%, 86% 90%, 81% 90%, 78% 92%, 74% 93%, 72% 96%, 69% 98%, 66% 98%, 62% 96%, 58% 94%, 55% 93%, 50% 91%, 43% 88%, 40% 85%, 39% 82%, 37% 85%, 35% 88%, 32% 90%, 30% 91%, 27% 93%, 25% 94%, 22% 93%, 20% 93%, 17% 95%, 14% 95%, 13% 92%, 12% 88%, 10% 90%, 7% 91%);    
    background-image: url(../../img/monstruo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-size: 100%;
    width:90vw ;
    height: 70vh;    
    /* opacity: 0.4;  */
    /* margin-top: 0vh;
    margin-left: 3vw; */
}
#botarAudio{
    display: none
    }

    


